﻿
<div class="input-group-btn dropdownchange form-inline">

    <input type="text" class="form-control" ng-model="model.selectDisplay" placeholder="{{model.placeHolder}}" />
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="x in model.list |filter : model.selectDisplay" ng-class="{'active':x[model.value]==model.selectValue}">
            <a ng-click="model.onSelectChange(model.dropdownSelectChange(x))">{{x[model.display]}}</a>
        </li>
    </ul>
</div>

