﻿<div>
    

    <button type="button" class="btn btn-primary "
            data-toggle="modal" data-target="#modalTakePhoto">
        TakePhoto
    </button>

    <div class="modal fade" id="modalTakePhoto" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Take Photo</h4>
                   
                   
                </div>

                <div class="modal-body text-center">
                    <div class="row">
                        <video id="video" width="640" height="480" autoplay>
                            <source  type="video/webm;" codecs="vp8, vorbis">
                        </video>
                    </div>
                    <div class="row"> <button type="button" class="btn btn-default col-sm-3" id="take">Snap Photo</button></div>
                    <div class="row"> <canvas id="snapshot" width="640" height="480"></canvas></div>
                    <div> <input type="text" id="ImgText" class="hidden"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-sm-3" id="btnSave"
                            ng-click="model.saveOnclick(model.getData())">Save
                    </button>
                    <button type="button" class="btn btn-default col-sm-3" id="btnCancel" ng-click="model.CancelClick()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

    </div>
        
    <script>
        
        $('#btnSave').click(function () {
            $('#modalTakePhoto').modal('hide');
        });


        var canvas = document.getElementById('snapshot');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
            // Get access to the camera!
       if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Not adding `{ audio: true }` since we only want video now
                navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
        }
        // Trigger photo take
            document.getElementById("take").addEventListener("click", function () {
                context.drawImage(video, 0, 0, 640, 480);
                document.getElementById('ImgText').value=canvas.toDataURL("image/jpeg");
            });
           
    </script>
</div>