﻿<div>

    <div class="bootstrap-iso">
        <div class="input-group">
            <div class="input-group-addon ">
                <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <!--ng-keypress="$event.keyCode==13&& model.onselect()"-->
            <input class="form-control"  ng-model="model.date" id="activefromdate" 
                   ng-change="model.onSelectChange({ 'date' : model.date })"
                   name="activefromdate" placeholder="YYYY-MM-DD" type="text" />
           <!-- id="activefromdate"-->
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            var date_input = $('input[name="activefromdate"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'yyyy-mm-dd',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>
</div>