﻿

<div >
    
        <button type="button" class="btn btn-primary"
               data-toggle="modal" data-target="#modalSearchArea">
        <span class="glyphicon glyphicon-search"> Area </span>
            </button>

    
    <div class="modal fade" id="modalSearchArea">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search Area</h4>
                    <br>
                    <div class="input-group-btn form-inline" >

                        <input type="text" id="textSearch" class="form-control " 
                               ng-model="model.textsearch"
                               ng-keyup="$event.keyCode == 13 && model.SearchClick(model.textsearch)">

                        <button id="btnSearch" class="btn btn-primary" ng-click="model.SearchClick(model.textsearch)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>

                    </div>
                </div>

                <div class="modal-body">
                    <div class="col-sm-12">
                        <div ng-show="model.loading"><my-wait-cursor></my-wait-cursor></div> 
                        <div id="myTablePanel" class="panel panel-default">
                           
                            <table class="table table-hover">
                                <thead class="panel-heading">
                                    <tr>
                                        <th class="col-sm-3">Area</th>
                                        <th class="col-sm-3">City</th>
                                        <th class="col-sm-3">Province</th>
                                        <th class="col-sm-3">Zipcode</th>
                                    </tr>
                                </thead>
                                <tbody class="panel-body">

                                    <tr ng-repeat="list in model.lists" ng-click="model.selectlist(list)" ng-class="{info: list.UID === model.UidSelected}">
                                        <td>{{list.CityArea}}</td>
                                        <td>{{list.City}}</td>
                                        <td>{{list.Province}}</td>
                                        <td>{{list.ZipCode}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-sm-3" id="btnOKArea"  
                            ng-click="model.okclick({Area:{'UID':model.SelectedList.UID,
                                                     'pincode':model.SelectedList.ZipCode,
                                                      'CITTYUID':model.SelectedList.CITYUID,
                                                        'City':model.SelectedList.City,
                                                        'AREAUID':model.SelectedList.AREAUID,
                                                        'Area':model.SelectedList.CityArea,
                                                         'STATEUID':model.SelectedList.STATEUID,
                                                            'STATE':model.SelectedList.Province}})">OK</button>
                    <button type="button" class="btn btn-default col-sm-3" id="btnCancel" ng-click="model.CancelClick()" data-dismiss="modal">Cancel</button>

                </div>

               
            </div>
        </div>
    </div>
    <script type="text/javascript">
     $('#btnOKArea').click(function () {
         $('#modalSearchArea').modal('hide');
     });

     //$('#textSearch').on('keyup', function (e) {
     //    if (e.keyCode == 13) {
     //        $("#btnSearch").click();
     //    }
     //});
    </script>



</div>