﻿.mainview {
    width: 70%;
    min-height: 600px;
}

.sideview {
    padding: 15px 6px 0;
    margin: 0 15px 15px;
}

.footer {
    width: 100%;
    height: 50px;
}




 #headPanel {
    padding: 15px 6px 0;
    margin: 0 15px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    max-width: 300px;
}

#myTablePanel {
    max-height: 500px;
    min-height: 50px;
    overflow: auto;
}

#myImg {
    border: 1px 1px 3px solid #ddd;
    border-radius: 4px;
    padding: 0 5px 10px 5px;
    margin: 5px 25px 5px;
    width: 200px;
    height: 150px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

    #myImg:hover {
    }

#mypanel {
    padding: 5px;
}

.myDropdown {
    max-height: 400px;
    min-height: 100px;
    overflow-y: auto;
}

.mywarning {
    border-color: darkred;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}