﻿
<div class="dropdown">
    <label class="dropdown-toggle" data-toggle="dropdown">
        Alert
        <span class="badge right">{{model.total}}</span>
    </label>
    <div class="dropdown-menu" role="menu">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in model.lists">
                <div>Description : <strong>{{item.AlertDescription}}</strong></div>
                <div>AlertType : <strong>{{item.AlertType}}</strong></div>
                <div>Create : <small>{{item.CWhen}} {{item.CreatedBy}}</small></div>
                <div>Modify : <small>{{item.ModifyedBy}}</small></div>
                <div>Status : <h>{{item.Status}}</h></div>
            </li>
        </ul>
    </div>
</div>