﻿
<div class="dropdown">
    <label class="dropdown-toggle" data-toggle="dropdown" >  Appointment   
    <span class="badge right">{{model.total}}</span>
    </label>
    <div  class="dropdown-menu" role="menu">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in model.lists">
                    <h>{{item.SlotStartDttm}}</h>
                    <strong>{{item.CareProvider}}</strong>
                    <div> <small>{{item.Location}}</small></div>

            </li>
        </ul>
    </div>
</div>