﻿
<div class="form-horizontal">

    <form name="model.formPatientDetail">
        <fieldset>
        
{{model.Patient}}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputHN" class="col-md-3 control-label">HN</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="InputHN" ng-model="model.Patient.PASID"
                                   placeholder="Hospital Number"
                                   ng-keypress="$event.keyCode==13 && model.SearchPatientByHN(model.Patient.PASID)">
                        </div>
                        <div class="col-md-2">
                            <div> <my-search-patient okclick="model.SearchPatientOkclick(SelectedPatient)"></my-search-patient></div>

                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-md-3 control-label">Patient Type</label>
                        <div class="col-md-6 ">
                            <my-dropdownlist list="model.SEQName"
                                             display="'Description'"
                                             value="'UID'"
                                             select-value="model.Patient.SEQName"
                                             place-holder="'please select patient type'"
                                             on-select-change="model.onselectSEQName_change(selectValue)"></my-dropdownlist>
                        </div>
                    </div>

                </div>

                <div class="col-md-3.col-md-offset-3 pull-right ">
                    <div><img id="myImg" src="data:image/jpg;base64,{{model.Patient.PatientImage}}" /></div>
                    <div class="col-md-offset-6"><my-camera save-onclick="model.PhotoSaveclick(Photo)"></my-camera></div>
                </div>
                <div class="col-md-1 pull-right"></div>

            </div>


           
                <div class="row">

                    <div class="col-md-6">
                        <div id="headPanel">Name</div>

                        <div class="form-group" ng-class="{'has-warning':model.formPatientDetail.selectTitle.$invalid==true}">
                            <label for="selectTitle" class="col-md-3 control-label">Title</label>
                            <div class="col-md-8">
                                <my-dropdownlist name="selectTitle"
                                                 list="model.TITLE"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.TitleUID"
                                                 place-holder="'please select title'"
                                                 on-select-change="model.onselectTITLE_change(selectValue)">

                                </my-dropdownlist>

                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputForeName.$invalid==true}">
                            <label for="inputForeName" class="col-md-3 control-label">FirstName</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control text-uppercase"  name="inputForeName"
                                       ng-model="model.Patient.Forename" placeholder="First Name"
                                       ng-required="model.Config.ForeName">
                               
                            </div>
                           
                        </div>
                        <div class="form-group ">
                            <label for="inputMiddleName" class="col-md-3 control-label">MiddleName</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control text-uppercase" id="inputMiddleName" 
                                       ng-model="model.Patient.middleName" placeholder="Middle Name">
                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputForeName.$invalid==true}">
                            <label for="inputSurName" class="col-md-3 control-label">SurName</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control text-uppercase" name="imputSurName"
                                       ng-model="model.Patient.Surname" placeholder="SurName"
                                       ng-required="model.Config.SurName">

                            </div>
                        </div>
                    </div>





                    <div class="col-md-6">
                        <div id="headPanel">English Name</div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.selectTitleEng.$invalid==true}">
                            <label for="selectTitleEng" class="col-md-3 control-label">Title</label>
                            <div class="col-md-8 ">
                                <component-test name="selectTitleEng"
                                                list="model.TITLE"
                                                display="'Description'"
                                                value="'UID'"
                                                select-value="model.Patient.TitleENGUID"
                                                place-holder="'please select title'"
                                                on-select-change="model.onselectTITLEEngName_change(selectValue)"></component-test>
                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputForeNameEng.$invalid==true}">
                            <label for="inputForeNameEng" class="col-md-3 control-label">FirstName</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control text-uppercase" name="inputForeNameEng" 
                                       ng-model="model.Patient.ForenameENG" placeholder="Firest Name"
                                       ng-required="model.Config.ForeNameENG">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="inputMiddleNameEng" class="col-md-3 control-label">MiddleName</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control text-uppercase" id="inputMiddleNameEng" ng-model="model.PatientEngName.MiddleName" placeholder="Middle Name">
                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputSurNameEng.$invalid==true}">
                            <label for="inputSurNameEng" class="col-md-3 control-label">SurName</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control text-uppercase" name="inputSurNameEng"
                                       ng-model="model.Patient.SurnameENG" placeholder="SurName"
                                       ng-required="model.Config.SurNameENG">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div id="headPanel"></div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.selectSEXXX.$invalid==true}">
                            <label class="col-md-3 control-label">Gender</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist name="selectSEXXX"
                                                 list="model.SEXXX"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.SEXXXUID"
                                                 place-holder="'please select gender'"
                                                 default-display="'ไม่ระบุ (Unknown)'"
                                                 on-select-change="model.onselectSEXXX_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>

                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputAge.$invalid==true}">
                            <label for="inputDOB" class="col-md-3 control-label">DOB</label>
                            <div class="col-md-6">
                                <my-datetimepicker date="model.Patient.BirthDate" 
                                                   on-select-change="model.onselectDOB_change(date)"></my-datetimepicker>
                            </div>
                            <div class="col-md-3">
                              
                                <p style="margin-top:10px;">
                                    <input type="checkbox" name="isDOBComputed"
                                           ng-disabled="true"
                                           ng-model="model.Patient.DOBComputed"
                                           ng-false-value="'0'" ng-true-value="'1'"
                                           >
                                    Computed
                                </p>
                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputAge.$invalid==true}">
                            <label for="inputDOB" class="col-md-3 control-label">Age</label>
                            
                            <div class="col-md-3">
                                <input type="number" class="form-control input-sm" name="inputAge"
                                       ng-model="model.Patient.AgeNum" placeholder="Age"
                                       ng-required="model.Config.DateOfBirth"
                                       ng-keypress="$event.keyCode==13&& model.AgeComputation(model.Patient.Agenum)">
                            </div>
                            <div class="col-md-6" style="margin-top:10px;">
                                <span ng-model="model.Patient.Age">{{model.Patient.Age}}</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-3 control-label">Blood</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist list="model.BLOOD"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.BLOODUID"
                                                 place-holder="'please select blood group'"
                                                 on-select-change="model.onselectBLOOD_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>

                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.selectSPOKL.$invalid==true}">
                            <label class="col-md-3 control-label">Prefer Language</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist name="selectSPOKL"
                                                 list="model.SPOKL"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.SPOKLUID"
                                                 place-holder="'please select prefer language'"
                                                 on-select-change="model.onselectSPOKL_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>

                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.selectNATNL.$invalid==true}">
                            <label class="col-md-3 control-label">Nationality</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist name="selectNATNL"
                                                 list="model.NATNL"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.NATNLUID"
                                                 place-holder="'please select nationality'"
                                                 on-select-change="model.onselectNATNL_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="col-md-3 control-label">Race</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist list="model.ETHGP"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.ETHGP"
                                                 place-holder="'please select race'"
                                                 on-select-change="model.onselectETHGP_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="col-md-3 control-label">Religion</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist list="model.RELGN"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.RELGNUID"
                                                 place-holder="'please select religion'"
                                                 on-select-change="model.onselectRELGN_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-3 control-label">Marital</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist list="model.MARRY"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.MARRYUID"
                                                 place-holder="'please select marital status'"
                                                 on-select-change="model.onselectMARY_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label">Occupation</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist list="model.OCCUP"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.OCUPATIONUID"
                                                 place-holder="'please select occupation'"
                                                 on-select-change="model.onselectOCCUP_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>
                        <div class="checkbox col-md-6.col-md">
                            <label style="padding-left:50px;">
                                <input type="checkbox" name="isVIP" 
                                       ng-model="model.Patient.IsVIP"
                                      
                                       ng-false-value="'N'" ng-true-value="'Y'">
                                VIP
                            </label>
                        </div>
                       <div class="form-group " ng-show="model.Patient.IsVIP=='Y'">
                                <label class="col-md-3 control-label">VIP</label>
                                <div class="col-md-8 ">
                                    <my-dropdownlist list="model.VIPTP"
                                                     display="'Description'"
                                                     value="'UID'"
                                                     select-value="model.Patient.VIPTPUID"
                                                     place-holder="'please select vip type'"
                                                     on-select-change="model.onselectVIPTP_change(selectValue)"></my-dropdownlist>
                                </div>
                            </div>
                      

                        <div class="form-group ">
                            <label class="col-md-3 control-label">Recieve hospital news</label>
                            <div class="col-md-8 ">
                                <my-dropdownlist list="model.RNEWS"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.Patient.RNEWSUID"
                                                 place-holder="'please select comunication channel'"
                                                 on-select-change="model.onselectRNEWS_change(selectValue)"></my-dropdownlist>
                            </div>
                        </div>



                    </div>


                    <div class="col-md-6">
                        <div id="headPanel"></div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputAddressNo.$invalid==true}">
                            <label for="inputAddressNo" class="col-md-3 control-label">Address No</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="inputAddressNo"
                                       ng-model="model.Patient.line1" placeholder="Address Number"
                                       ng-required="model.Config.AddressNo">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputBuilding" class="col-md-3 control-label">Building</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputBuilding"
                                       ng-model="model.Patient.line2" placeholder="Building">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputSoi" class="col-md-3 control-label">Lane/Soi</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputSoi"
                                       ng-model="model.Patient.line3" placeholder="Lane / Soi">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="inputRoad" class="col-md-3 control-label">Road</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputRoad"
                                       ng-model="model.Patient.line4" placeholder="Road">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-3 control-label">Area</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputArea"
                                       ng-model="model.Patient.Area" placeholder="Area" readonly>
                            </div>
                            <div class="col-md-3 "><my-search-area okclick="model.SearchAreaOkClick(Area)"></my-search-area></div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label">City</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputCity"
                                       ng-model="model.Patient.City" placeholder="City" readonly>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label">Province</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputProvince"
                                       ng-model="model.Patient.STATE" placeholder="Province" readonly>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label">Country</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputCountry"
                                       ng-model="model.Patient.Country" placeholder="Country" readonly>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputZipcode" class="col-md-3 control-label">Zipcode</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputSoi"
                                       ng-model="model.Patient.pincode" placeholder="Zipcode" readonly>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div id="headPanel"></div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputResidentialPhone.$invalid==true}">
                            <label for="inputResidentialPhone" class="col-md-3 control-label">Residential Phone</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="inputResidentialPhone"
                                       ng-model="model.PatientContact.Phone" placeholder="Residential Phone"
                                       ng-required="model.Config.ResidencePhone">
                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputMobile.$invalid==true}">
                            <label for="inputMobile" class="col-md-3 control-label">Mobile</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="inputMobile"
                                       ng-model="model.PatientContact.Mobile" placeholder="Mobile Phone"
                                       ng-required="model.Config.MobilePhone">
                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-warning':model.formPatientDetail.inputEmail.$invalid==true}">
                            <label for="inputEmail" class="col-md-3 control-label">Email</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputEmail" name="inputEmail"
                                       ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                                       ng-model="model.PatientContact.Email" placeholder="Email Address">
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div id="headPanel">Identification Card</div>
                        <div class="form-group" ng-class="{'has-warning':model.formPatientDetail.inputID.$invalid==true}">
                            <label for="inputID" class="col-md-3 control-label">ID Card</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputID" name="inputID"
                                       ng-change="model.ID_verifying(model.PatientID.ID)"
                                       ng-model="model.PatientID.ID" placeholder="Identification number">
                            </div>

                           
                        </div>
                        <div class="form-group ">
                            <label for="inputDateFrom" class="col-md-3 control-label">Active From </label>
                            <div class="col-md-7">
                                <my-datetimepicker date="model.PatientID.DateFrom"></my-datetimepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDateTo" class="col-md-3 control-label">Active To</label>
                            <div class="col-md-7">
                                <my-datetimepicker date="model.PatientID.DateTo"></my-datetimepicker>

                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="inputPassportID" class="col-md-3 control-label">Passport ID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputPassportID"
                                       ng-model="model.PatientID.Passport" placeholder="Passport Number">
                            </div>
                        </div>


                    </div>
                </div>
        
            <div id="footerPage" style="height:100px">
                {{model.Patient.UID==0? false:true}}
                <div class="form-group row">
                    <button class="btn btn-primary col-sm-2" type="button" id="btnNew" 
                            ng-click="model.saveOnclick()" 
                            ng-disabled="model.formPatientDetail.$invalid">Create</button>
                    <button class="btn btn-primary col-sm-2" type="button" id="btnUpdate" 
                            ng-click="model.updateOnclick()" 
                            ng-disabled="model.formPatientDetail.$invalid">Update</button>
                    <button class="btn btn-primary col-sm-2" type="button" id="btnClear" 
                            ng-click="model.clearOnclick()">Clear</button>
                    <a class="btn btn-primary col-sm-3 col-sm-offset-1" id="Register" 
                            ng-href="#!/patientvisit">Register</a>
                </div>
            </div>
        </fieldset>
    </form>

</div>