﻿
<div class="form-horizontal" name="model.formPayorDetail">
   
        
        <p class="text-uppercase">Payor Detail</p>
        <div class="row">
            <div class="col-sm-6">
               
                <div id="headPanel"></div>



                <div class="panel panel-default">

                    <div class="panel-heading">
                        <table class="table table-hover ">
                            <thead>
                                <tr style="margin-bottom:-5px;">
                                    <td class="col-sm-1">Type</td>
                                    <td class="col-sm-3">Payor</td>
                                    <td class="col-sm-3">Agreement</td>
                                    <td class="col-sm-2">Active From</td>
                                    <td class="col-sm-2">Active To</td>
                                </tr>
                            </thead>
                        </table>
                    </div>


                    <div class="panel-body" style="min-height:100px; max-height:400px; overflow-y:auto;font-size:12px;">
                        <table class="table table-hover ">
                            <tbody >
                                <tr ng-repeat="list in model.lists" ng-click="model.selectlist(list)" style="max-height:40px;"
                                    ng-class="{info: list.Rank === model.SelectListItem.Rank}">
                                    <td class="col-sm-1">{{list.Rank}}</td>
                                    <td class="col-sm-3">{{list.PayorName}}</td>
                                    <td class="col-sm-3">{{list.PayorAgreementName}}</td>
                                    <td class="col-sm-2">{{list.ActiveFrom}}</td>
                                    <td class="col-sm-2">{{list.ActiveTo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="panel-footer">
                        <div class="form-group row" style="margin-left:60px;margin-bottom:-3px;">
                            <button type="button" class="btn btn-default col-sm-3" id="btnNew"
                                    ng-click="model.onAdd_click()">
                                New
                            </button>
                            <button type="button" class="btn btn-default col-sm-3" id="btnUpdate"
                                    ng-disabled="model.formPayorDetail.$invalid"
                                    ng-click="model.onUpdate_click(model.SelectListItem)">
                                Update
                            </button>
                            <button type="button" class="btn btn-default col-sm-3" id="btnDelete"
                                    ng-click="model.onDelete_click(model.SelectListItem)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-sm-6 " >
                <div id="headPanel"></div>

                <form style="font-size:12px;" name="model.formPayorDetail">
                    <fieldset>
                        <div class="form-group ">
                            <label for="inputType" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-6 ">
                                <my-dropdownlist name="inputType" id="inputType"
                                                 list="model.PAYRTP"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.SelectListItem.PAYRTPUID"
                                                 default-display="model.SelectListItem.Rank"
                                                 on-select-change="model.onselectRank_change(selectValue,selectDisplay)"
                                                 place-holder="'Rank'"></my-dropdownlist>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputPayor" class="col-sm-2 control-label">Payor</label>
                            <div class="col-sm-6 ">
                                <my-dropdownlist id="inputPayor" name="inputPayor"
                                                 list="model.Payor"
                                                 display="'PayorName'"
                                                 value="'UID'"
                                                 select-value="model.SelectListItem.PayorUID"
                                                 place-holder="'please select payor'"
                                                 on-select-change="model.onselectPayor_change(selectValue, selectDisplay)"></my-dropdownlist>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputAgreement" class="col-sm-2 control-label">Agreement</label>
                            <div class="col-sm-6  ">
                                <my-dropdownlist id="inputAgreement" name="inputAgreement"
                                                 list="model.PayorAgreement"
                                                 display="'Description'"
                                                 value="'UID'"
                                                 select-value="model.SelectListItem.PayorAgreementUID"
                                                 place-holder="'Payor argreement'"
                                                 on-select-change="model.onselectPayorAgreement_change(selectValue, selectDisplay)"></my-dropdownlist>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputPayorOffice" class="col-sm-2 control-label">PayorOffice</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control " id="inputPayorOffice" name="inputPayorOffice"
                                       ng-model="model.SelectListItem.PayorOfficeDetailName" placeholder="Payor Office"
                                       ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputComment" class="col-sm-2 control-label">Comment</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control " id="inputComment" name="inputComment"
                                       ng-model="model.SelectListItem.Comments" placeholder="Comment"
                                       >
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="inputPolicy" class="col-sm-2 control-label">Policy</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control " id="inputPolicy" name="inputPolicy"
                                       ng-model="model.SelectListItem.PolicyName" placeholder="Policy"
                                       ng-disabled="true">
                            </div>
                        </div>
                        <!--<div class="form-group ">
                <label for="inputopdCoverPerday" class="col-sm-2 control-label">Opd Cover/Day</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control " id="inputopdCoverPerday"
                           ng-model="model.Patient.UID" placeholder="OPD Cover per Day">
                </div>
            </div>-->

                        <div class="form-group ">
                            <label for="inputClaimPercentage" class="col-sm-2 control-label">Claim Percentage</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control " id="inputClaimPercentage" name="inputClaimPercentage"
                                       ng-model="model.SelectListItem.ClaimPercentage" placeholder="Claim Percentage">
                            </div>
                        </div>



                        <div class="form-group ">
                            <label for="inputDateFrom" class="col-sm-2 control-label">Active From</label>
                            <div class="col-sm-6 ">
                                <my-datetimepicker name="inputDateFrom"
                                                   date="model.SelectListItem.ActiveFrom"
                                                   on-select-change="model.onDateFrom_change(date)">

                                </my-datetimepicker>
                            </div>
                            </div>
                            <div class="form-group ">
                                <label for="inputDateTo" class="col-sm-2 control-label">Active To</label>
                                <div class="col-sm-6 ">
                                    <my-datetimepicker name="inputDateTo"
                                                       date="model.SelectListItem.ActiveTo"
                                                       on-select-change="model.onDateTo_change(date)">

                                    </my-datetimepicker>
                                </div>
                            </div>

                       
                    </fieldset>
                </form></div>
        </div>
 
</div>