﻿
<div class="form-horizontal">
    <fieldset>
        {{model.Patient}}
        <div class="row">
            <div class="col-md-6" > 
                <div id="headPanel">Visit Detail</div>
                <div class="form-group ">
                    <label class="col-md-2 control-label">Location</label>
                    <div class="col-md-6 ">
                        <my-dropdownlist list="model.Location"
                                         display="'Name'"
                                         value="'UID'"
                                         select-value="model.Patient.Location"
                                         place-holder="'Location'"></my-dropdownlist>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-2 control-label">Visit Type</label>
                    <div class="col-md-6 ">
                        <my-dropdownlist list="model.VISTY"
                                         display="'Description'"
                                         value="'UID'"
                                         select-value="model.Patient.type"
                                         place-holder="'type of visit'"></my-dropdownlist>
                    </div>
                </div>


                <div class="form-group ">
                    <label class="col-md-2 control-label">Careprovider</label>
                    <div class="col-md-6 ">
                        <my-dropdownlist list="model.careprovider"
                                         display="'Description'"
                                         value="'UID'"
                                         select-value="model.Patient.careprovider"
                                         place-holder="'careprovider'"></my-dropdownlist>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-2 control-label">Service</label>
                    <div class="col-md-6 ">
                        <my-dropdownlist list="model.service"
                                         display="'Description'"
                                         value="'UID'"
                                         select-value="model.Patient.service"
                                         place-holder="'service'"></my-dropdownlist>
                    </div>
                </div>


                


            </div>
            <div class="col-md-6">
                <div id="headPanel"></div>

                <div class="form-group ">
                    <label class="col-md-2 control-label">Priority</label>
                    <div class="col-md-6 ">
                        <my-dropdownlist list="model.RPRIT"
                                         display="'Description'"
                                         value="'UID'"
                                         select-value="model.Patient.priority"
                                         place-holder="'priority'"></my-dropdownlist>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="inputReason" class="col-md-2 control-label">Reason</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputReason" ng-model="model.Patient.UID" placeholder="Reason">
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-2 control-label">Referral Type</label>
                    <div class="col-md-6 ">
                        <my-dropdownlist list="model.REFCAT"
                                         display="'Description'"
                                         value="'UID'"
                                         select-value="model.Patient.refertype"
                                         place-holder="'Referral type'"></my-dropdownlist>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-2 control-label">Ref</label>
                    <div class="col-md-6 ">
                        <my-dropdownlist list="model.ref"
                                         display="'Description'"
                                         value="'UID'"
                                         select-value="model.Patient.ref"
                                         place-holder="'ref'"></my-dropdownlist>
                    </div>
                </div>
            </div>
            </div>
     <div class="row" style="margin-left:10px;">
         <my-payor-detail lists="model.PatientPayor"></my-payor-detail>
     </div>
        <div id="footerPage" style="height:100px">
        
            <div class="form-group row">
              
                <button class="btn btn-primary col-sm-2 col-sm-offset-1" type="button" id="btnRegister"
                    ng-click="model.registerOnclick()">
                Register
                    </button>
                <a class="btn btn-primary col-sm-2" type="button" id="btnClear"
                        ng-href="#!/patientdetail">
                    Cancel
                </a>
                
            </div>
        </div>
</fieldset>
</div>