﻿

<div>
 
    <button type="button" id="btnShowPopup" class="btn btn-primary"
            data-toggle="modal" data-target="#modalSearchPatient">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>

    <div class="modal fade" id="modalSearchPatient">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search Patient</h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <fieldset>

                            <div class="form-group ">
                                <label for="inputID" class="col-sm-2 control-label">Patient ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-uppercase" id="inputID"
                                           ng-model="model.patient.PASID"
                                           placeholder="HN or Identification Number ">
                                </div>
                            </div>

                            <div class=" form-group">
                                <label for="inputForename" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-uppercase" id="inputForename"
                                           ng-model="model.patient.ForeName"
                                           placeholder="First Name ">
                                </div>
                            </div>

                            <div class=" form-group">
                                <label for="inputMiddlename" class="col-sm-2 control-label">Middle Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-uppercase" id="inputMiddlename"
                                           ng-model="model.patient.MiddleName"
                                           placeholder="Middle Name ">
                                </div>
                            </div>
                            <div class=" form-group">
                                <label for="inputSurname" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-uppercase" id="inputSurname"
                                           ng-model="model.patient.SurName"
                                           placeholder="Last Name ">
                                </div>
                            </div>
                            <div class=" form-group">
                                <label for="inputDOB" class="col-sm-2 control-label">Birth Date</label>
                                <div class="col-sm-10">
                                    <my-datetimepicker date="model.patient.BirthDate"></my-datetimepicker>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="inputPhone" class="col-sm-2 control-label">Telephone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPhone"
                                           ng-model="model.patient.Telephone"
                                           placeholder="Telephone ">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button type="button" class="btn btn-default col-sm-3" id="btnSearch" ng-click="model.SearchClick()">Search</button>
                            <button type="button" class="btn btn-default col-sm-3" id="btnClear" ng-click="model.ClearClick()">Clear</button>

                        </div>
                    </div>
                    
 
                        <div class="col-sm-12" >
                            <div ng-show="model.loading"><my-wait-cursor></my-wait-cursor></div> 
                            <div id="headPanel"></div>
                            <div id="myTablePanel" class="panel panel-default">
                                <table class="table table-hover" >
                                    <thead class="panel-heading">
                                        <tr>
                                            <th class="col-sm-2">HN</th>
                                            <th class="col-sm-2">ForeName</th>
                                            <th class="col-sm-2">MiddleName</th>
                                            <th class="col-sm-2">Surename</th>
                                            <th class="col-sm-2">Gender</th>
                                            <th class="col-sm-2">BirthDate</th>
                                        </tr>
                                    </thead>
                                    <tbody class="panel-body">

                                        <tr ng-repeat="list in model.lists" ng-click="model.selectlist(list)" ng-class="{info: list.UID === model.UidSelected}">
                                            <td>{{list.PASID}}</td>
                                            <td>{{list.ForeName}}</td>
                                            <td>{{list.MiddleName}}</td>
                                            <td>{{list.SurName}}</td>
                                            <td>{{list.Gender}}</td>
                                            <td>{{list.BirthDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-sm-3" id="btnOKPatient" 
                            ng-click="model.okclick({SelectedPatient:
                                                    {'UID':model.SelectedList.UID,
                                                    'PASID':model.SelectedList.PASID,
                                                    'Forename':model.SelectedList.ForeName,
                                                    'middleName':model.SelectedList.MiddleName,
                                                    'Surname':model.SelectedList.SurName
                                                    }})">OK</button>
                    <button type="button" class="btn btn-default col-sm-3" id="btnCancel" ng-click="model.CancelClick()" data-dismiss="modal">Cancel</button>
                   
                </div>

    <script type="text/javascript">
        $('#btnOKPatient').click(function () {
            $('#modalSearchPatient').modal('hide');
        });
                </script>
            </div>
        </div>
    </div>
   
  
</div>